<header id="header">
  <nav class="navbar navbar-expand-lg  navbarbg givesomepaddingtopandbottom">
    <div class="container">
      <a class="navbar-brand colorwhite" href="index.html"><img width="40" src="images/logo/logo.png" alt="logo image" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 customnavul">

          <!-- nav item 1  -->
          <li class="nav-item">
            <a class="nav-link" data-page="index.html" aria-current="page" href="index.html">Home</a>
          </li>

          <!-- nav item 2  -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="index.html#prodbringhere1">Available Products</a></li>
              <li><a class="dropdown-item" href="index.html#prodbringhere2">Future Products</a></li>
            </ul>
          </li>

          <!-- nav item 4  -->
          <li class="nav-item">
            <a class="nav-link" href="index.html#secabout">About</a>
          </li>

          <!-- nav item 5  -->
          <li class="nav-item">
            <a class="nav-link" href="index.html#secteam">Team</a>
          </li>

          <!-- nav item 6  -->
          <li class="nav-item">
            <a class="nav-link" data-page="faq.html" href="faq.html">FAQ</a>
          </li>

          <!-- nav item 7  -->
          <li class="nav-item">
            <a class="nav-link" data-page="news.html" href="news.html">News</a>
          </li>

          <!-- nav item 8  -->
          <li class="nav-item">
            <a class="nav-link" data-page="contactus.html" href="contactus.html">Contact Us</a>
          </li>

          <!-- nav item 9  -->
          <li class="nav-item">
            <a class="nav-link" data-page="applynow.html" href="applynow.html">Apply Now</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
